# Jupyter Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/

# Remove postgres.py files
/Jupyter_Notebooks/config/postgres.py
/Flask_Server/config/postgres.py

# API KEY for Google APIs
/docs/other/API_KEY/apikey.py

# Username, password for PostgreSQL
/docs/other/config/postgres.py
/docs/other/flask_app/postgres.py

# ignore Lake_Water folder
/docs/other/Lake_Water/

# ignore env folder, pycache folder, postgres.py as well
/Flask_Server/Heroku_Flask_Server/env/
/Flask_Server/Heroku_Flask_Server/__pycache__/
/Flask_Server/Heroku_Flask_Server/postgres.py